<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<contact>
			<email>
				<contact_confirmation>1</contact_confirmation>
				<contact_confirmation_template>contact_email_contact_confirmation_template</contact_confirmation_template>
			</email>
		</contact>
	</default>
</config>